<header>
  <div id="header" class="clearfix">
    <div class="container">
      <div id="header-inside" class="clearfix">
        <div id="header-site-branding" class="clearfix">
          <div class="region region-header-branding">
            <div id="block-cmi-branding" data-block-plugin-id="system_branding_block" class="site-branding block block-system block-system-branding-block">
              <a id="logo" href="/" title="Home" rel="home" class="site-branding__logo">
                <img src="/themes/custom/cmi/logo.png" alt="Home">
              </a>
              <div class="site-branding__text">
                <div id="site-name" class="site-branding__name">
                  <a href="/" title="Home" rel="home">{{ site_name }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="main" class="main">
    <div class="col-md-12" style="text-align:center; padding-top:100px">
      <h4>{{ site_name }} is currently under maintenance. We should be back shortly. Thank you for your patience.<br>
      If you have any queries related to the maintenance window please reach <a class="cmi-bold" href="mailto:intl.gic@cummins.com?Subject={{ site_name }} is under maintenance" target="_top">intl.GIC@cummins.com</a>.</h4>
    </div>
  </div>
</header>
<footer id="globalfooter" class="clearfix" style="position: relative;width: 100%;bottom: 0;">
  <div class="container">
    <div id="globalfooter-inside" class="clearfix" style="padding: 10px 0 0 0;">
      <div class="col-md-6 global-footer-left">    
        <div class="content"> 
          <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p>© <span id="cmi-current-year">2020</span> Cummins Inc., Box 3005, Columbus, IN 47202-3005 U.S.A.</p>
            <script type="text/javascript">
              document.getElementById("cmi-current-year").innerHTML = new Date().getFullYear();
            </script>
          </div>
        </div>
      </div>
      <div class="col-md-6 floatright">
        <div class="global-footer-right">
          <div class="region region-global-footer-right">      
            <div class="cmi-powered-by-gdc clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="https://devops.cummins.com" target="_blank" rel="noopener noreferrer">Powered by GDC</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>